@CHARSET "UTF-8";

html,body,h1,h2,h3,h4,h5,h6 {
	font-family: "Roboto", sans-serif
}
.idioma, .idioma1, .idioma2{
	height:24px;
	width:60%;
}
.adobe{
	width:90%;
}
.foto{
	width:80%;
}
.ilustrator{
	width:75%;
}
.media{
	width:50%;
}
.content{
	max-width:1400px;
}
.w3-image{
	width:100%;
}