@CHARSET "UTF-8";

html, body, h1, h2, h3, h4, h5 {
	font-family: "Raleway", sans-serif
}

.container {
	z-index: 4;
}

.mySidebar {
	z-index: 3;
	width: 300px;
}

.myOverlay {
	cursor: pointer;
}

.w3-image{
	 width:600;
	 height:750;
}



.main {
	margin-left: 20px;
	margin-top: 20px;
}

.header{
	margin-left: 200px;
	margin-top: 43px;
}
