@CHARSET "UTF-8";

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", sans-serif
}

.w3-bar, h1, button {
	font-family: "Montserrat", sans-serif
}

.fa-anchor, .fa-coffee {
	font-size: 200px
}


.w3-image {
	width: 600;
	height: 750;
}
.imgpricipal{
	width:1200;
	heigh:500;
}
.header{
	padding:50px 10px;
}